*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 100%;
    min-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h3{
    color: white;
    text-align: center;
    gap: 4%;
}